{% extends 'base.html' %}
{% block title %}Your Profile{% endblock %}
{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
        </p>
        {% endif %}

        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Edit Profile</a>
            {% endif %}

        </p>
    </div>
</div>
{% include '_post.html' %}
{% endblock %}